

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #FF5200;
  --button-color: #ff3f6c;
  --span-color:  gray;
  --footer-bg-color:#F0F0F5;
  --para: #02060c99;
  --border-radius: 2rem ;
  --primary-font: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --secondary-font:inherit;
  /* --color:rgb(181, 181, 181); */
}

html {
  font-size: 62.5%;
 
}

body {

  background-color: transparent;
}

 .margin-top{
  margin-top: 6rem;
 }
 .margin-bottom{
  margin-bottom: 3rem;
 }
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font);
  text-align: justify;
}
h1{
  font-size: 4rem;
  font-weight: 800; 
}
 h2{
      margin-bottom: 3rem;
  font-size: 3rem;
  letter-spacing: 0.4rem;
  font-weight: 700;
}

p {
  font-family: var(--secondary-font);
  color: var(--span-color);
}
.flex{
  display: flex;
  justify-content: space-between;
}
a,
ul {
  color: var(--heading-color);
  text-decoration: none;
   /* list-style: none; */
}

a:hover {
  color: var(--primary-color);
}

.container {
width: 94%;
  margin: auto;
}
.container1 {
width: 96%;
  margin: auto;
}
.container-footer{
  width: 76%;
  margin: auto;
}

.btn2 {
  padding: 1.5rem 1.6rem;
  border: none;
  background-color: #ff3f6c;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.btn2:hover {
  background-color: #e6355b;
}
.btn3{
  background-color: var(--primary-color);
  border: none;
  padding: 1.8rem 3rem;
  color: #fff;
  margin-top: 2rem;
  border-radius: 1.2rem;
font-size: 1.7rem;
}
.btn4{
  background-color: transparent;
  border: 1px solid  var(--button-color);
  border-radius:20px ;
  padding: 1rem 2rem;
  color: var(--button-color);
  font-weight: 600;
  margin-bottom: 2.8rem;
}
.btn5 {
  border:1px solid  var(--span-color);
  color: var(--button-color);
  padding:0.5rem 1.5rem;
  background-color: transparent;
 font-weight: 700;
  cursor: pointer;
   margin: 1.3rem 0rem;
}
.btn6{
  border:1px solid   #002D56;
  color: #002D56;
  padding:1.4rem 5.5rem;
  border-radius:1rem ;
  font-size: 2rem;
  background-color: transparent;
  font-weight: 700;
  cursor: pointer;
  margin: 1.3rem 0rem;
  
}
.d-flex1{
  display: flex;
  align-items: center;
  
}
